<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Buscador</title>
    <style>
        *{
            padding: 0;
            margin: 0;
            list-style: none;
            box-sizing: border-box;            
        }
        body{
            height: 100vh;
            width: 100%;
        }

    </style>
</head>
<body>
    <a href="{% url 'index' %}" target="_self">Voltar para a página anterior</a>
    <div class="col-10 mx-auto">
        <h1>PONTOS</p>
                {% if searched_city %}
                    {% if pontos %}
                        <h1>Resultados para: {{searched_city}}</h1>
                    {% else %}
                        <h1>Nenhum resultado para: {{searched_city}}</h1>
                    {% endif %}

                {% else %}
                    <h1>Todos os resultados</h1>
                 {% endif %}
            <table class="table">
                <tr class="thead-dark">
                    <!--  <th scope="col">id</th> -->
                    <th scope="col">cidade</th>
                    <th scope="col">titulo</th>
                    <th scope="col">local</th>
                    <th scope="col">info</th>
                </tr>    
                {% for ponto in pontos %}
                
                <tr>
                    <!-- <th scope="row">{{ponto.id}}</td> -->
                    <th scope="row">{{ponto.cidade}}</th>
                    <td>{{ponto.titulo_local}}</td>
                    <td>{{ponto.endereco}}</td>
                    <td>{{ponto.informacoes}}</td>
                </tr>    
                
                {% endfor %}
            </table>
    </div>
</body>
</html>